.container {
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:30px;
    border: blue 5px;
    border-style: solid;
    height: 200pt;
    width: 600pt;
    margin: auto;
    padding: 15px;
}

.mainbody{
    display: flex;
    flex-direction: row;
    flex-flow: space-between;
    gap: 10px;
}

.left-body{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.right-body{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    margin: 5%;
}
button {
    width: 100%;
    margin: 2px;
}
h3 {
    margin-top: auto;
    padding: 2px;
    color: blue;
}