b {
    color:peru; 
}

a {
    color:red;
}
#aboutmeid {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
ol#bknameid {
    font-family: cursive;
}
body {
    background-color: lightblue;
}
.aboutmeclass {
    background-image: url("image/mountain.jpeg");
}
.indexbody {
    background-image: url("image/backgroundimage.jpeg");
    background-repeat:repeat;
}
a:link {
    text-decoration: none;
}

a:hover {
    text-decoration:underline 
 }
 
 p::first-letter {
    color: #ff0000;
    font-size: xx-large;
}