#maindiv {
    margin: auto;
    width: 20%;
    border: 2px solid #73AD21;
    border-radius: 10px;
    padding: 40px;
    background-color: azure;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    height:fit-content;
}

h2 {
    text-align: center;
}

body {
    background-image: url('./comprologo.png');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

button {
    color: black;
    font-size: 18px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}