form {
    background-color: #cbcdf6;
    ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: auto;
}

#personalitytype {
    color: red;
}

form {
    display: inline-block;
}

label {
    display: inline-block;
    width: 120px;
    text-align: left;
    padding: 4px;
    margin: auto;
}

#submitbtn {
    text-decoration: rebeccapurple;
    padding: 3px;
    margin-top: 2pt;
}

fieldset {
    border: 2px solid gray;
    border-style: solid;
    padding: 10px;
    background-color: #cfd1f6;
    border-radius: 5px;
    box-shadow: 2px 2px grey;
}

legend {
    padding: 0.2em 0.5em;
    color: gray;
    font-size: 90%;
    position: relative;

    border: 1px rgb(192, 192, 192);
    border-style: solid;
    padding: 5px;
    background-color: white;
    box-shadow: 2px 2px grey;
}
button {
    text-align: center;
    margin-top: 6px;
    font-weight: bold;
    border: pink 2px;
    box-shadow: 3px 3px;
    background-color: rgb(249, 163, 177);
}